a { 
    color: orangered;
}

.important {
    font-weight: bolder;
}

td {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
}